[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "==7.4.3"
mock = "==5.0.2"
requests = "==2.31.0"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
